:root {
    --main-color: #9a4ee6;
    --main-color-light: #9a4ee652;
    --main-color-lighter: #9a4ee626;
}

body {
    margin: 0px;
    height: 100%;
    display: flex;
}

header {
  position: absolute;
  width: 100%;
  height: 7vh;
  background: var(--main-color);
  color: white;
  font-family: sans-serif;
}

header ul {
  display: flex;
  place-content: space-between;
  margin-right: 3vw;
  margin-top: 9px;
}

header ul li {
  font-size: 1.8em;
}

li {
  list-style-type: none;
  overflow-x: clip;
}

#chatbox {
  margin-top: 7vh;
  width: 100%;
  background-color: var(--main-color-lighter);
}

#message-form {
    position: fixed;
    bottom: 0px;
    font-size: 20px;
    background-color: #c7c7c7;
    width: 100%;
    height: 7vh;
    margin: 0;
    padding-top: 5px;
    padding-left: 10px;
    background: var(--main-color);

}

#message-form label {
    width: 20vw;
}

#message-form input {
    height: 80%;
    width: 60vw;
}

#message-form button {
    width: 10vw;
    height: 70%;
}

aside {
    width: 15vw;
    height: 100%;
    background-color:var(--main-color-light);
    position: fixed;
    border-right: 3px #9a4ee6 solid;
}

aside ul {
  padding: 0;
  text-align: center;
  font-size: 1em;
}

section {
    margin-left: 20vw;
    margin-right: 6.5vw;
}

.message {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 25px;
    margin: 9px 0;
    width: 75vw;
    padding: 10px 20px;
}

.message p {
  font-size: 16px;
}
  /* Darker chat message */
.darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  /* Clear floats */
  .message::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Style images */
  .message img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  /* Style the right image */
  .message img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  /* Style time text */
  .time {
    float: right;
    color: #aaa;
    display: contents;
  }

  h1 {
    display: contents;
  }
  

#wrapper {
   width: 100%;
    height: 100%;
    background: var(--main-color);
    position: absolute;
    z-index: 1;
  }

#connexion {
  position: absolute;
  top: 47.5%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}


#connexion input {
  width: 75%;
  height: 13%;
  border-radius: 18px;
  text-align: center;
  font-size: 30px;
}

#connexion button {
  padding: 14px 11px 14px 14px;
  cursor: pointer;
  background: white;
  border: none;
  clip-path: circle();
  position: absolute;
  margin-left: 90%;
  width: 5em;

}


#déconnexion {
  cursor: pointer;
  text-decoration: underline;
}

a {
  color: white;
}